Checks: -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*
  -readability-magic-numbers
