AccessModifierOffset: -4
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BreakBeforeBraces: Allman
DerivePointerAlignment: false
IndentCaseLabels: false
IndentWidth: 4
PointerAlignment: Left
