AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Google
BinPackArguments: true
BinPackParameters: false
BreakBeforeBraces: Allman
ColumnLimit: 100
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
IndentWidth: 4
InsertBraces: true
PointerAlignment: Left
