[submodule "3rdparty/sm83-json-tests"]
	path = 3rdparty/sm83-json-tests
	url = https://github.com/SingleStepTests/sm83
	ignore = dirty
[submodule "3rdparty/blargg-test-roms"]
	path = 3rdparty/blargg-test-roms
	url = https://github.com/retrio/gb-test-roms
	ignore = dirty
